<%= link_to car_path(car) do  %>
  <div class="card-car">
    <% if car.photos.any? %>
      <%= cl_image_tag car.photos.first.key, height: 300, width: 400, crop: :fill %>
    <% else %>
     <img src="https://teja9.kuikr.com/images/car/default-cars.jpeg" />
    <% end %>
    <div class="card-car-infos">
      <div>
        <h2><%= car.brand.upcase %></h2>
        <p><%= car.location %></p>
      </div>
      <h2 class="card-car-pricing"><%= car.price %> EUR<p>daily rate</p></h2>
      <%# TODO: make this piture come from the car dynamically %>
      <% if car.user.avatar.attached? %>
        <%= cl_image_tag car.user.avatar.key, class: "card-car-user avatar-bordered" %>
      <% else %>
        <img src="https://www.shutterstock.com/image-vector/man-icon-vector-260nw-1040084344.jpg" class="card-car-user avatar-bordered" />
      <% end %>
    </div>
  </div>
<% end %>
