<div class="container">
  <h1 id="nametag">Hi, <%= @user.first_name %></h1>

  <h2 class="section-title">Your Bookings</h2>
  <% if @user.bookings.empty? %>
    <div class="d-flex justify-content-center">
    <p>No bookings yet, what are you waiting for?  <i class="fa-solid fa-car-side"></i></p>
    </div>
    <a class="btn-dashboard btn-align-middle" <%= link_to 'BOOK CAR', cars_path %>
    </a>
  <% else %>
    <div class="cards">
      <% @user.bookings.each do |b| %>
          <%= render "shared/booked_car", car: b.car, booking: b %>
      <% end %>
    </div>
  <% end %>

  <h2 class="section-title">Cars You Offer</h2>

  <a class="btn-dashboard" <%= link_to 'ADD CAR', new_car_path %>
  </a>


  <div class="cards">
    <% @user_cars.each do |car|%>
      <%= render "shared/card_car", car: car %>
    <% end %>
  </div>
</div>
