<div class="container">
  <h1>Hi, <%= @user.first_name %></h1>

  <h2 class="section-title">My Bookings</h2>
  <% if @user.bookings.empty? %>
    <p><strong>No cars booked...yet!</strong><p>
    <p>Time to go..<i class="fa-solid fa-car-side"></i></p>
    <%= link_to 'Book car', cars_path %>
  <% else %>
    <ul class="cards">
      <% @user.bookings.each do |b| %>
        <li class="card-car">
          <%= cl_image_tag b.car.photos.first.key, height: 200, width: 300, crop: :fill %>
          <div class="card-info">
            <p class="duration"><%= b.pickup_day %> - <%= b.return_day %></p>
            <h3 class="card-title"><%= b.car.brand %></h3>
            <%= b.car.location %>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>

  <h2 class="section-title">Cars You Offer</h2>

  <%= link_to 'Add car', new_car_path %>

  <ul class="cards">
    <% @user_cars.each do |car|%>
      <%= render "shared/card_car", car: car %>
    <% end %>
  </ul>
</div>
